<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="particular-feedz" value="https://f.feedz.io/particular-software/packages/nuget/index.json" />
    <add key="local" value=".packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="particular-feedz">
      <package pattern="NServiceBus" />
      <package pattern="NServiceBus.*" />
      <package pattern="Particular.*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="*" />
      <package pattern="NServiceBus" />
      <package pattern="NServiceBus.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
